{% extends "login_app/base.html" %} {% block content %}
<header> 
    <h1>Sign Up</h1>
    <a href="{% url 'login_app:login' %}">Login</a>
</header> 
<hr />
<div class="div-content">
    <form action="{% url 'login_app:sign_up' %}" method="POST">
        {% csrf_token %}
        <input type="username" name="username" placeholder="User Name"><br>
        <input type="first_name" name="first_name" placeholder="First Name"><br>
        <input type="last_name" name="last_name" placeholder="Last Name"><br>
        <input type="email" name="email" placeholder="Email Address"><br>
        <input type="phone" name="phone" placeholder="Phone Number"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
        <button>Sign Up</button>
    </form>
</div>
<hr />
{% if error %}
{{ error }}
{% endif %}

{% endblock %}