<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'banking_app/index.css' %}"
      media="screen"
    />
    <title>Banking app</title>
  </head>

  <body>
    <header>
      <h1>Welcome</h1>
      <nav>
        <a href="{% url 'banking_app:index' %}">Overview</a>
        <a href="{% url 'banking_app:transfer' %}">Transfer</a>
        {% if userrank != 'basic' %}
        <a href="{% url 'banking_app:loanpayment' %}">Loan payment</a>
        {% endif %}
        <a href="{% url 'banking_app:profile' %}">Profile</a>
        <a href="{% url 'login_app:logout' %}">Log out</a>
      </nav>
    </header>
    <hr />
    <div class="div-content">
      {% block content %} {% endblock %} {% block footer %} {% endblock %}
    </div>
  </body>
</html>
