{% extends "banking_app/base.html" %} {% block content %}
<section class="section-overview">
  <article>
    <h2>My accounts</h2>
    <div class="div-accountRow">
      <span class="bold">Bank account no.</span>
      <span class="bold align-right">Balance</span>
    </div>
    {% for bankaccount in bankaccounts %}
    <div class="div-accountRow">
      <span class="">{{ bankaccount.account_no }}</span>
      <span class="bold align-right">{{ bankaccount.balance }}</span>
      <a href="bankaccount/{{bankaccount.account_no}}">View</a>
    </div>
    {% endfor %}
  </article>

  {% if userrank != 'basic' %}
  <article class="section-loans">
    <h2>My loans</h2>
    <div class="div-loanRow">
      <span class="bold">Loan no.</span>
      <span class="bold align-right">Total loan</span>
      <span class="bold align-right">Rest dept</span>
    </div>
    {% for loan in loans %}
    <div class="div-loanRow">
      <span class="">{{ loan.loan_no }}</span>
      <span class="align-right">{{ loan.total_loan }}</span>
      <span class="align-right">{{ loan.balance }}</span>
      <a href="loan/{{loan.loan_no}}">View</a>
    </div>
    {% endfor %}
    <h3>Start a new loan</h3>
    <form method="POST">
      {% csrf_token %}
      <input class="loanInput" name="loan_amount" type="number" value="0" max="20000"/>
      <button>Start new loan</button>
    </form>
  </article>
{% endif %}
</section>

{% endblock %}
