@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header {
  padding: 1em 2em;
}

h1 {
  color: blue;
}

h2 {
  margin-bottom: 1em;
}

article {
  margin: 1em 0 3.5em;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 1.3em;
}

input,
select {
  display: block;
  margin: 1em 0;
  padding: 3px;
  line-height: 1.2em;
}

button {
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 7px;
}

.div-content {
  padding: 1em 2em;
}

.div-accountRow {
  width: 400px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.7fr;
  grid-gap: 2em;
  padding: 1em 0;
  border-bottom: 1px solid blue;
}

.div-loanRow {
  width: 550px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 0.7fr;
  grid-gap: 2em;
  padding: 1em 0;
  border-bottom: 1px solid blue;
}

.transactionRow {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.loanInput {
  display: inline-block;
  margin-right: .5em;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.blueText {
  color: blue;
  font-weight: bold;
}
